.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: blue;
    color: #fff;
    padding: 1rem;
}

.footer__text{
    align-items: center;
    margin: 0;
    color: #fff; 
}